<div class="photos">
    <div class="search">
        <form class="search--form">
            <mat-form-field class="search--field">
                <span matPrefix> </span>
                <input #searchInput type="tel" matInput placeholder="Keresés az összes részletben" name="search" [(ngModel)]="search">
                <div matSuffix mat-button><mat-icon>search</mat-icon></div>
            </mat-form-field>
        </form>
    </div>
    <div class="container" *ngIf="loaded">
        <div class="photo" *ngFor="let photo of filteredCatalog | slice:startIndex:endIndex">
            <mat-card class="card">
                <a (click)="openDetailsDialog(photo)"> <img [src]="photo.photo" [width]="imageWidth"/></a>
                <mat-card-content>
                    <p class="card--name">
                        {{photo.name}}
                    </p>
                    <p class="card--jurynr">
                        {{photo.juryNr}}
                    </p>
                </mat-card-content>
                <mat-card-actions class="buttons">
                    <button mat-raised-button (click)="openDetailsDialog(photo)">Részletek</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <mat-paginator *ngIf = "!dialogOpened" (page)="handlePageEvent($event)" [length]="filteredCatalog.length" [pageSize]="pageSize"
        [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex"
        aria-label="Select page">
    </mat-paginator>
</div>