.buttons{
    display:flex;
    justify-content: center;
}

.title{
    text-align: center;
}

mat-dialog-content{
    max-height: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}