
<div class="wrapper">
    <h2 class="title" mat-dialog-title>{{data.name}}</h2>
    <mat-dialog-content>
        <div class="details">
            <img mat-card-image [src]="data.photo" [width]="imageWidth"/>
            <ul>
                <li><b>Díszítmény (stílus):</b> {{data.place}}</li>
                <li><b>Alapanyag:</b> {{data.materials}}</li>
                <li><b>Méret:</b> {{data.size}}</li>
                <li><b>Színállása:</b> {{data.colors}}</li>
                <li><b>Szakág:</b> {{data.sector}}</li>
                <li><b>Éves előállítható példányszám:</b> {{data.copiesPerYear}}</li>
                <li><b>A zsűrizés helye és ideje:</b> {{data.juryDate}}</li>
                <li><b>Zsűriszám:</b> {{data.juryNr}}</li>
                <li><b>A zsűri döntése:</b> {{data.juryDecision}}</li>
                <li><b>Védjegy:</b> {{data.trademark}}</li>
            </ul>
        </div>
        
    </mat-dialog-content>
    <mat-dialog-actions class="buttons" align="end">
        <button mat-raised-button mat-dialog-close>Bezár</button>
    </mat-dialog-actions>
</div>
